html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}
body{
    font-family: "Avenir Next", "Hiragino Kaku Gothic ProN W3", sans-serif;
} 
li{
    list-style: none;
}
.header{
    background-color:white;
}
.header-logo{
    float:left;
    line-height:100px;
    font-size:60px;
    padding-left:30px;
    color:black;
}
.header-list{
    display:inline-block;
    line-height:60px;
    margin-left:600px;
    float:right;
}
.header-list a{
    
    padding-right:30px;
    opacity: 0.7;
    background-color:white ;
    width:160px;
    text-align: center;
}
.header-list a:hover{
    opacity: 1.0;
}
.maincontainer{
    clear:left;
    padding-top:20px;
    padding-left:30px;
    color:black;
    font-style: initial;
    background-image: url(pic1.jpg);
    
}
.title{
    font-size:40px;
    width:430px;

}
.subtitle{
    font-size:15px;
}

